*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-text: #102a42;
  --main-text-medium: #2e6292;
  --main-text-light: #4f7fac;
  --main-text-white: #e5e5e5;
  --main-bg: rgb(222, 222, 222);
  --main-bg-medium: #ccc;
}

.app {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.center-flex-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-display {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide {
    display: none !important;
  }

  .responsive-display {
    display: block;
  }
}

.block-display {
  display: block !important;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.unshown {
  opacity: 0 !important;
  pointer-events: none !important;
}

.btn,
.btn:hover,
.btn:active {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--main-text-medium);
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}
